<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DestekTalebiYonetimi</title>

    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DestekTalebiYonetimi.styles.css" asp-append-version="true" />
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">

           <a class="navbar-brand d-flex align-items-center"
   asp-controller="Home"
   asp-action="Index">

    <img src="~/images/cinarkent-logo.png"
         alt="Çınarkent Belediyesi"
         width="100"
         height="100"
         class="me-2" />

    <div>
        <div class="fw-bold">
            Çınarkent Belediyesi
        </div>

        <small class="text-muted">
            Bilgi İşlem Destek Sistemi
        </small>
    </div>

</a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">

              @if (Context.Session.GetString("KullaniciAdi") != null)
{
    <ul class="navbar-nav me-auto">

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Home"
               asp-action="Index">
                Ana Sayfa
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Destek"
               asp-action="Index">
                Destek Talepleri
            </a>
        </li>

    </ul>
}

@if (Context.Session.GetString("KullaniciAdi") != null)
{
    <span class="me-3 fw-semibold">
        👤 @Context.Session.GetString("AdSoyad")
    </span>

    <a class="btn btn-outline-danger btn-sm"
       asp-controller="Account"
       asp-action="Logout">
        Çıkış Yap
    </a>
}       </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        © 2026 - Destek Talebi Yönetimi
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>